{
  "presets": [["@babel/preset-env", { "loose": true }]],
  "plugins": ["@babel/plugin-transform-runtime", "transform-vue-jsx"],
  "env": {
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["ymm-design"],
          "alias": {
            "ymm-design/src": "ymm-design/lib"
          }
        }]
      ]
    }
  }
}
